body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   background-color: rgb(7, 10, 63);
}
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(7, 10, 63);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;

}
nav > * {
    margin-top: 20px; /* Adjust this value to increase or decrease the margin */
}
.score {
    margin-left: 200px;
}

.grid {
    position: absolute;
    width: 1380px;
    height: 800px;
    border: solid 5px white;
    background-image: url("/4394257_91655.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.block {
    position: absolute;
    width: 110px;
    height: 30px;
    background: linear-gradient(45deg, #f3ec78, #af4261);

}

.user {
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: white;
    border-radius: 5px;

}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: linear-gradient(45deg, #00c5ec, #ffffff);
    border: solid 5px rgb(204, 0, 255);
}

.pause {
    display: flex;
    justify-content: space-around;
}

.pause button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.pause button:hover {
    background-color: white; 
    color: black; 
}


.restart:hover {
    background-color: white;
    color: black;
}
.pause button i, .restart i {
    color: black;
    font-size: 24px; /* Adjust this value to make the font bigger or smaller */
}
#resume {
    display: none;
}
.heart i {
    color: red;
    font-size: 30px; /* Adjust this value to make the font bigger or smaller */
}
.score {
    color: white;
    font-size: 30px;
    font-family: 'Nabla', system-ui;
}
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: rgba(249, 254, 255, 0.8);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
    font-family: 'Bungee Spice', sans-serif;
    font-size: 50px;
    
}
.modal-content button {
    background-color: #16054e; /* Green */
    border-radius: 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Bungee Spice', sans-serif;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.modal-content i {
    color: red;
    font-size: 100px;
}